<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Twitter Comparator - {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
  </head>
  <body>
    <nav>
    <a href="/" class="brand"><span>Twitter Comparator</span></a>

    <!-- responsive-->
    <input id="bmenub" type="checkbox" class="show">
    <label for="bmenub" class="burger pseudo button">Menu</label>

    <div class="menu">
        <a href="/update" class="button">Update Tweets</a>
    </div>
    </nav>

    <article class="flex two" style="padding: 3em 1em;">
        {% block content %}
        <div>
        <h1>{{ title }}</h1>
        <form action="/compare" method="post">
            <select class="stack" name="user1">
                {% for user in users %}
                <option value="{{ user.name }}">{{ user.name }}</option>
                {% endfor %}
            </select>
            <select class="stack" name="user2">
                {% for user in users %}
                <option value="{{ user.name }}">{{ user.name }}</option>
                {% endfor %}
          </select>
          <textarea class="stack" name="tweet_text" placeholder="Tweet text to predict"></textarea>
          <button class="stack" value="Compare Users">Compare Users</button>
        </form>
        <h3>Recent comparisons:</h3>
        {% for comparison in comparisons %}
            <span class="stack">{{ comparison }}</span>
        {% endfor %}
      </div>
      <div>
        <h2>Users</h2>
        {% for user in users %}
            <a href="/user/{{ user.name }}"><span class="stack">{{ user.name }}</span></a>
        {% endfor %}
        <form action="/user" method="post">
            <input class="stack" type="text" name="user_name" placeholder="User to add">
            <button class="stack" value="Add User">Add User</button>
        </form>
        </div>
    {% endblock %}
    </article>
    <!-- <script src="https://cdn.jsdelivr.net/npm/umbrellajs"/> -->
    </body>
</html>